.app {
   /* 배경 이미지 적용 */
  /* background-image: url('/snsBG.png'); */

  /* 이미지 전체 화면 커버 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* 화면 전체 높이/너비 */
  min-height: 100vh;
  width: 100%;
  
}

.body {
  display: flex;
  padding: 20px;
  gap: 40px;
}

.centerArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
