.sidebar {
  width: 120px;
  background: linear-gradient(#ffffff, #b0ff72);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.sidebar button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 28px;
  border: 2px solid #000;
  background: #fff;
  cursor: pointer;
}
