.card {
  width: 320px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.songTitle {
  font-size: 20px;
  font-weight: bold;
}

.artist {
  font-size: 14px;
  color: #555;
}

.date {
  font-size: 13px;
}

.albumImg {
  width: 100%;
  height: 250px;
  border: 2px solid #bbb;
  border-radius: 5px;
  margin: 20px 0;
}

.description {
  font-size: 14px;
  line-height: 18px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.playBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(#d0ff8a, #72f72b);
  cursor: pointer;
}
