.header {
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #b0ff72, #d7ffc7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  font-size: 24px;
  font-weight: bold;
}

.profileIcon {
  font-size: 26px;
  cursor: pointer;
}
